<ion-view view-title="Single Heroe">
  <ion-content class="heroStats">
    <h3>{{heroe.Name}}</h3>
    <p><strong>HP</strong>: {{heroe.HP}}</p>
    <p><strong>Mana</strong>: {{heroe.Mana}}</p>
    <p><strong>Move Speed</strong>: {{heroe.Movespeed}}</p>
    <p><strong>Attack Swing</strong>: {{heroe.AttackSwing}}</p>
    <p><strong>Base Agi</strong>: {{heroe.BaseAgi}}</p>
    <p><strong>Base Attack Time</strong>: {{heroe.BaseAttackTime}}</p>
    <p><strong>Base Int</strong>: {{heroe.BaseInt}}</p>
    <p><strong>Base Str</strong>: {{heroe.BaseStr}}</p>
    <p><strong>ManaRegen</strong>: {{heroe.ManaRegen}}</p>
    <p><strong>MaxDmg</strong>: {{heroe.MaxDmg}}</p>
    <p><strong>MinDmg</strong>: {{heroe.MinDmg}}</p>
  </ion-content>
</ion-view>
